<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Admin Page</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">
	
		<div class="container">
			<div th:fragment="header">
				<nav class="navbar navbar-default">
					<div class="container-fluid">
						<div class="navbar-header">
							<a class="navbar-brand" href="#" th:href="@{/admin/home}">Home</a>
							<ul class="nav navbar-nav">
								<li><a href="#" th:href="@{/contacts}">Contacts</a></li>
								<li><a href="#" th:href="@{/contact/new}">New Contact</a></li>
								<li><a href="#" th:href="@{/contact/search}">Search
										Contact</a></li>
							</ul>

						</div>
					</div>
				</nav>

				<div class="jumbotron">
					<div class="row text-center">
						<div class="">
							<h2>TELEPHONE BOOK</h2>
						</div>
					</div>
				</div>

			</div>
		</div>
		<form th:action="@{/logout}" method="get">
			<button class="btn btn-md btn-danger" name="registration"
				type="Submit">Logout</button>
		</form>
	</div>
</body>
</html>